<div class="row">
  <form class="col s12" id="login-form">
      <div class="row">
    <div class="row">
        <div class="input-field col s12">
          <input id="username-login" type="text" >
          <label for="icon_prefix">Username</label>
        </div>
    </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="password-login" type="password">
          <label for="password">Password</label>
        </div>
      </div>
   
      <button type="submit" class="btn">Login</button>
      <a class="signup" href="/signup">Sign up instead</a>

    </form>
  </div>
    
<script src="/javascript/login.js"></script>