<h3 class="card-header">Create New Post</h3>

<div class="row">
  <form class="col s12" id="new-post-form">
      <div class="row">
    <div class="row">
        <div class="input-field col s12">
          <input id="post-title" type="text" name="post-title">
          <label for="icon_prefix">Title</label>
        </div>
    </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="content" type="text" name="content">
          <label for="text">Content</label>
        </div>
      </div>
   
      <button type="submit" class="btn">Create</button>
    

    </form>
  </div>


<script src="/javascript/add-post.js"></script>