<div class="row">
  <form class="col s12" id="signup-form">
      <div class="row">
    <div class="row">
        <div class="input-field col s12">
          <input id="username-signup" type="text" >
          <label for="icon_prefix">Username</label>
        </div>
    </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="password-signup" type="password">
          <label for="password">Password</label>
        </div>
      </div>
   
      <button type="submit" class="btn">Login</button>
      <a class="signup" href="/login">Log in instead</a>

    </form>
  </div>
    

<script src="/javascript/signup.js"></script>