{{> post-info post}}
{{#if loggedIn}}
<div class="row">
    <form class="card-body comment-form" id="comment-form">
        {{!-- form for comments --}}
        <label class="form-label">Comment</label>
        <input id="comment" name="comment-body" class="form-input" />

        <button type="submit" class="btn">Submit</button>
    </form>
</div>
{{/if}}

{{> comments post.comments}}
{{!-- only allowed to comment if loggedin --}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}