* {
    box-sizing: border-box;
}
                  
body {
                
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    line-height: 1.5;
    font-size: 20px;
}
         
                
                  
main {
    margin: 20px auto;
    width: 94%;
}
                  
p {
    font-size: 1.2rem;
}
                  
.card-body {
    padding: 1%;
}
           
.title{
    margin-left:20px;
}
            
.btn {
    font-size:20px;
    padding:4px;
    width: 100%;
    margin: 5px 0;
    color:black;
    background-color: #e6def9 ;
    transform: translate(-1px, -1px);
 }
                
.btn:hover {
    background-color:#7700ff9d;
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
    color:#ffffff;
}

.signup{
    font-size:20px;
}

h2{
    font-size: 20px;
}

.comment-creator{
    font-size:15px;
    color:#6506d1;
}

.nav-wrapper{
    background-color: rgb(39, 78, 234);
}